<h1>配達実績</h1>

<%= @baggage.address.name %>
<%= @baggage.block %>
<%= @baggage.building %>
<%= @baggage.family_name %>
<%= @baggage.first_name %><br>

<%= form_with(model: @delivery, local: true) do |form| %>
  <%= form.radio_button :delivery_result, 1 %>
  <%= form.label :delivery_result, "完了", value: 1 %>
  <%= form.radio_button :delivery_result, 0 %>
  <%= form.label :delivery_result, "不在", value: 0 %>
  <%= form.submit "SEND" %>
<% end %>