<div class="body">
  <div class="wrapper">
    <h1>持出入力</h1>
    <%= form_with model: @baggage, url:baggages_path, local: true do |f| %>
      <%= render 'layouts/error_messages', model: f.object %>
      <div class="taking-field">
        <%= f.label :address, "住所", class: "taking-label" %><span class="required">必須</span>
        <%= f.text_field :address, placeholder:"東京都世田谷区三軒茶屋", class: "taking-form-area" %><br>
      </div>
      <div class="taking-field">
        <%= f.label :address, "番地", class: "taking-label" %><span class="required">必須</span>
        <%= f.text_field :block, placeholder:"1-2-3", class: "taking-form-area" %><br>
      </div>
      <div class="taking-field">
        <%= f.label :address, "マンション・アパート名", class: "taking-label" %><span class="optional">任意</span>
        <%= f.text_field :building, placeholder:"マンション名", class: "taking-form-area" %><br>
      </div>
      <div class="taking-field">
        <%= f.label :address, "苗字", class: "taking-label" %><span class="required">必須</span>
        <%= f.text_field :family_name ,placeholder:"鈴木", class: "taking-form-area" %><br>
      </div>
      <div class="taking-field">
        <%= f.label :address, "名前", class: "taking-label" %><span class="required">必須</span>
        <%= f.text_field :first_name, placeholder:"一郎", class: "taking-form-area" %><br>
      </div>
      <div class="send-field">
        <%= f.submit "登録", class: "send-btn" %>
      </div>
    <% end %>
  </div>
</div>